<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="canonical" href="https://apps.kbia.fm/2018-july-autism-caregivers/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://apps.kbia.fm/2018-july-autism-caregivers/">
    <meta property="og:type" content="article">
    <meta property="fb:app_id" content="110964099434176">
    <meta property="og:title" content="Life on the Spectrum">
    <meta property="og:description" content="Parents and guardians of people with autism face new obstacles at every stage of life.">
    <meta property="og:image:url" content="https://apps.kbia.fm/2018-july-autism-caregivers/img/og-cover.jpg">
    <meta property="og:image:alt" content="Two people walking in a park.">
    <meta property="og:image:secure_url" content="https://s3.amazonaws.com/apps.kbia.org/2018-july-autism-caregivers/img/og-cover.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="4094">
    <meta property="og:image:height" content="2300">
    <meta property="article:publisher" content="https://www.facebook.com/KBIAnews/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@KBIA">
    <meta name="twitter:creator" content="@KBIA">
    <meta name="twitter:title" content="Life on the Spectrum">
    <meta name="twitter:description" content="Parents and guardians of people with autism face new obstacles at every stage of life.">
    <meta name="twitter:image" content="https://apps.kbia.fm/2018-july-autism-caregivers/img/og-cover.jpg">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://use.fontawesome.com/4cfb4dfef7.js"></script>
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>-->
    <script src="./js/cards.js"></script>
    <script src="./js/viewport.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-24704798-11', 'auto');
        ga('create', 'UA-71696131-1', 'auto', 'appsTracker');
        ga('send', 'pageview');
        ga('appsTracker.send', 'pageview');

    </script>
    <script>
        function openNav() {
            document.getElementById("nav-scr").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("nav-scr").style.width = "0%";
        }
    </script>
    <title>Life on the Spectrum - KBIA</title>
</head>
<body>
    <header aria-hidden="true" class="kbia-top">
        <a aria-hidden="true" href="http://www.kbia.org"><img class="logo" src="https://s3.amazonaws.com/media.kbia.org/logos/kbia-blue.png" alt="KBIA Logo"></a>
        <a aria-hidden="true" onclick="openNav()" class="btn btn-inverse btn-outline-primary float-right nav-trigger-button"><i class="fa fa-bars" aria-hidden="true"></i><span class="hidden-sm-down"> MENU</span></a>
    </header>
    <progress class="top-after"></progress>
    <div class="generic-containing">
        <div class="home-cards-contain">
            <div class="home-card home-card-front">
                <div class="home-container">
                    <h1>Life on the Spectrum</h1>
                    <h1 class="sub" style="letter-spacing: 2px;">The Journey of Caregivers</h1>
                    <!--<h2 class="proj">A KBIA Special Project</h2>-->
                    <h2 class="author">By Aviva Okeson-Haberman and Kyra Haas</h2>
                </div>
                <a href="http://www.kbia.org" class="logo logo-link">
                    <img class="logo logo-right" src="./img/KBIA_main_reverse.png">
                </a>
            </div>
        </div>
        <article>
            <section id="intro">
                <p>After her son Gabriel was diagnosed with autism, Audra Meeks says she was devastated. Then, her youngest son Jacob was also diagnosed.</p>
                <p>Audra and her four children live in Auxvasse, Missouri. Gabriel is 6 now, and Jacob is 4. Audra spends her every waking moment trying to prevent disaster. While both boys are in therapy four days a week, new behaviors and challenges often emerge in place of previous ones.</p>
                <p>The carpet had to go because Jacob was eating it. Holes gape in the drywall from a time when headbanging was bad. Then there was the fecal smearing and the constant nakedness and urination.</p>
                <p>&ldquo;It's constant; it's relentless,&rdquo; Audra said. &ldquo;It is relentless every day.&rdquo;</p>
                <p>Parents of children with autism are at greater risk for elevated levels of stress compared to parents of children with other special needs, according to Allison Wainer, assistant research director of the Autism Assessment, Research, Treatment and Services Center in Chicago.</p>
                <p>&ldquo;One of the core difficulties in autism is difficulty for the child to communicate,&rdquo; Wainer said. &ldquo;And so, when your child can't tell you what's wrong and instead they maybe scream and cry or withdraw even more from the world &hellip; as a parent, it's a really hard and oftentimes painful experience to try to navigate those situations.&rdquo;</p>
                <p>One in 70 Missouri children are diagnosed with Autism Spectrum Disorder. The diagnosis covers a wide range of behaviors, meaning caregivers of people with autism also have a spectrum of experiences. Five mid-Missouri families shared a snapshot of their lives caring for a person with autism.</p>
            </section>
            <section id="dont-remember">
                <h2>“I don't remember a lot from that time period, let's put it that way.”</h2>
                <p>To Logan Arnett&rsquo;s parents, he was the perfect baby.</p>
                <p>&ldquo;We thought we were awesome parents,&rdquo; mom Tara Arnett said. &ldquo;He was probably too well-behaved for his age in hindsight &hellip; He didn't need us. He never cried for us. He was just happy.&rdquo;</p>
                <p>As Logan neared age 2, Tara and her husband Brock Arnett started to worry.</p>
                <p>&ldquo;I asked the pediatrician, &lsquo;At what point do we worry about autism?&rsquo;&rdquo; Tara said. &ldquo;He said, &lsquo;If you&rsquo;re asking, then we&rsquo;re worried.&rsquo;&rdquo;</p>
                <p>For the Arnetts, Logan&rsquo;s diagnosis coincided with many major life changes. Brock got laid off from his job, and Tara was juggling Logan&rsquo;s slew of appointments with caring for a newborn.</p>
                <p>&ldquo;I don't remember a lot from that time period, let's put it that way,&rdquo; Tara said. &ldquo;It was overwhelming at best.&rdquo;</p>
                <p class="wider" data-pym-loader data-child-src="https://s3.amazonaws.com/apps.kbia.org/dailygraphics/graphics/life-spectrum-slides-tara-20180703/child.html" id="responsive-embed-life-spectrum-slides-tara-20180703">Loading...</p>
            </section>
            <section id="even-its-ok">
                <h2>“Even ‘It's OK’ ended up not being ok.”</h2>
                <p>But life for caregivers is often overwhelming on a moment-to-moment basis as well.</p>
                <p>Three minutes into her shower, Audra didn&rsquo;t hear Jacob&rsquo;s iPad anymore. She called his name. No answer. She ran out of the bathroom, shampoo in her hair and a towel around her chest.</p>
                <p>The window above the sink was open, and Jacob was gone.</p>
                <p>Still in a towel, Audra ran out the garage, jumped in her van and turned right down the road. A few blocks over, she saw him. He was naked, sprinting through a field toward the busy highway.</p>
                <p>She ditched the van and chased him down, catching him 15 feet from the road.</p>
                <p>&ldquo;He was yelling, &lsquo;Cars, cars, cars!&rsquo;&rdquo; Audra said. &ldquo;It was that simple. He wanted the cars, and he was gonna go get the cars on the highway.&rdquo;</p>
                <p>A <a href="http://pediatrics.aappublications.org/content/130/5/870">2012 study</a> from the American Academy of Pediatrics surveyed more than 1,200 children with autism and found nearly half had tried to run away after age 4. Of those who went missing, &ldquo;24 percent were in danger of drowning and 65 percent were in danger of traffic injury.&rdquo;</p>
                <p>Jacob is always looking for ways to escape, meaning that Audra must keep all doors and windows secure.</p>
                <p class="wider" data-pym-loader data-child-src="https://s3.amazonaws.com/apps.kbia.org/dailygraphics/graphics/life-spectrum-audra-20180703/child.html" id="responsive-embed-life-spectrum-audra-20180703">Loading...</p>
                <p>Audra&rsquo;s constant hypervigilance has affected her health, leading to several trips to the doctor and a recent hospitalization.</p>
                <p>&ldquo;I had all these odd things&mdash;like a loss of appetite, daily headaches and weight loss,&rdquo; she said. &ldquo;Even though I was exhausted, I had insomnia going on. And the doctor was like, &lsquo;That's stress at its finest.&rsquo;&rdquo;</p>
                <p>Audra&rsquo;s stress levels aren&rsquo;t abnormal for her situation, according to Jennifer Pinto-Martin, University of Pennsylvania School of Nursing executive director.</p>
                <p>&ldquo;The stress on the caregiver of a child with autism, the stress on the family, in general, is incredibly high,&rdquo; Pinto-Martin said. &ldquo;People don't recognize that it's just this ongoing constant barrage of challenges.&rdquo;</p>
            </section>
            <section id="one-of-those-kids">
                <h2>&ldquo;He does not see himself as one of <em>those</em> kids.&rdquo;</h2>
                <p>For Pamela and Jason Smith, their 14-year-old son TJ Smith&rsquo;s transition to high school next year will mean navigating a lot more than a new class schedule and locker combination.</p>
                <p>&ldquo;He's going to ride a regular bus with all the other kids,&rdquo; Pamela said. &ldquo;I want him to have an assigned seat right behind the bus driver so he knows that's where TJ sits every day &hellip; Getting off a bus at a high school with 2,000 kids just flooding off of buses and going into school at the same time &mdash; he'd easily get overwhelmed.&rdquo;</p>
                <p>TJ currently attends Smithton Middle School. He answers direct questions, but he doesn&rsquo;t start conversations. He likes math but reads on a second grade level. His parents said they&rsquo;ve been lucky to have teachers who are willing to adapt materials to TJ&rsquo;s learning style.</p>
                <p>&ldquo;They're willing to change a test for him, so instead of having a multiple question test ... the teacher might be having a conversation with him to ask him what he knows about that subject,&rdquo; Pamela said. &ldquo;He knows the material and knows what they're talking about; he just couldn&rsquo;t write you an essay about it.&rdquo;</p>
                <p>While he attends some special education classes meant for students with intellectual or learning disabilities, the Smiths said TJ identifies socially with students in mainstream classes.</p>
                <p>&ldquo;He doesn&rsquo;t see himself as one of <em>those</em> kids,&rdquo; Pamela said. &ldquo;He sees himself as a gen-ed kid, which is totally fine. But unfortunately, gen-ed kids don't see him as a gen-ed kid."</p>
                <p>TJ&rsquo;s parents have avoided discussing his diagnosis with him.</p>
                <p>&ldquo;We want him to be able to think and feel whatever he wants because he can,&rdquo; Pamela said &ldquo;...We don't want this diagnosis, our word, to limit him.&rdquo;</p>
                <p>&ldquo;Our kids with autism sometimes have a hard time navigating the social dynamics of the school system,&rdquo; Allison Wainer, who has worked with a number of school-aged kids with autism, said. &ldquo;There might be an increased risk for bullying or victimization, and that is obviously really stressful and hard for parents to manage.&rdquo;</p>
                <p>While the Smiths haven&rsquo;t had issues with bullying in middle school, they worry about the new social situation awaiting TJ at Battle High School next fall.</p>
                <p>&ldquo;He wants to be included, but, at the same time, he knows that he can't,&rdquo; Jason said. &ldquo;I mean, he knows he can't have a full conversation with someone, and that hurts. That sucks.&rdquo;</p>
                <p class="wider" data-pym-loader data-child-src="https://s3.amazonaws.com/apps.kbia.org/dailygraphics/graphics/life-spectrum-slides-pamela-jason-20180705/child.html" id="responsive-embed-life-spectrum-slides-pamela-jason-20180705">Loading...</p>
            </section>
            <section>
                <h2>&ldquo;He&rsquo;s going to be all alone in this world.&rdquo;</h2>
                <p>For mom Jamie Henderson, who raises her son Jaxon on her own, long-term anxieties compound day-to-day worries.</p>
                <p>She doesn&rsquo;t know if the 7-year-old will be able to live independently as an adult, and she knows she won&rsquo;t be around forever.</p>
                <p>&ldquo;It's very scary, because I'm just &mdash; I'm hoping I live a very long time, but once I'm gone, and if my mom is gone, then who is going to be there?&rdquo; she said. &ldquo;My brother is there with his wife and his girls, but what if he's not there? Then he's going to be completely alone in this world, and it just stresses me out.&rdquo;</p>
                <p class="wider" data-pym-loader data-child-src="https://s3.amazonaws.com/apps.kbia.org/dailygraphics/graphics/life-spectrum-jamie-20180703/child.html" id="responsive-embed-life-spectrum-jamie-20180703">Loading...</p>
                <p>Regular therapy and routines give Jamie hope that Jaxon will reach independence, but as Jaxon has gotten older, Jamie has started going to a counselor and attending church to find solace and ways to cope.</p>
                <p>&ldquo;I've never been a big churchgoer, but the past year or two, we've been going to church,&rdquo; she said. &ldquo;I pray about it a lot. I usually end up just bawling and praying to God, &lsquo;Just get me through this. Help me remain calm.&rsquo;&rdquo;</p>
                <p class="wider" data-pym-loader data-child-src="https://s3.amazonaws.com/apps.kbia.org/dailygraphics/graphics/life-spectrum-slides-jamie-20180705/child.html" id="responsive-embed-life-spectrum-slides-jamie-20180705">Loading...</p>
            </section>
            <section id="fern">
                <h2>&rdquo;I wasn't sure how things were going to turn out.”&ldquo;</h2>
                <p>Fern Anderson fell into the autism caregiver role overnight, after her son&rsquo;s girlfriend called 20 years ago.</p>
                <p>&ldquo;[She] said my son was either drunk or drugged out, and she had called the police,&rdquo; Anderson said. &ldquo;... He had been involved in drugs and alcohol for quite some time, and I knew it. I knew it was bad.&rdquo;</p>
                <p>Anderson drove to her son&rsquo;s house and got there before the police did. She took her then-4-year-old granddaughter, Norma Jo Anderson, and went home. Fern got legal custody shortly thereafter.</p>
                <p>Growing up with her grandmother, now-24-year-old Norma struggled with a combination of undiagnosed Asperger Syndrome and a tumultuous early childhood.</p>
                <p>&ldquo;I will admit that there was &mdash; at one time, I wasn't sure if I was going to be able to do it, because she had so much anger,&rdquo; Fern said. &ldquo;She was trying to take it physically out of on me.&rdquo;</p>
                <p>After being diagnosed with Asperger Syndrome as a junior in high school and attending several years of anger management classes, Norma now has a job with Columbia Public Schools helping with lunch at Rock Bridge High School. She also helps teach a kindergarten Sunday school class at her church.</p>
                <p>&ldquo;It was the anger,&rdquo; Fern said. &ldquo;It wasn&rsquo;t Norma; it was the anger.&rdquo;</p>
                <p class="wider" data-pym-loader data-child-src="https://s3.amazonaws.com/apps.kbia.org/dailygraphics/graphics/life-spectrum-fern-20180703/child.html" id="responsive-embed-life-spectrum-fern-20180703">Loading...</p>
                <!--                 <h2>&ldquo;You&rsquo;d be doing it, too&rdquo;</h2> -->
                <p>With a child&rsquo;s future independence often uncertain, autism caregivers can grapple with the prospect of caring for their child indefinitely.</p>
                <p>Tara doesn’t expect her son to ever move out.</p>
                <p>"It wasn't what we originally thought we were signing up for, but at the same time, I have a hard time picturing someone else being his caregiver so it's kind of is what it is," she said.</p>
                <p>Tara said she resents when parents of children without special needs call her strong or brave or ask how she &ldquo;does it.&rdquo;</p>
                <p>&ldquo;If you were in the same situation, you would be 'doing' it, too,&rdquo; Tara said. &ldquo;We're all parents; we all love our kids no matter where they are at in the their development &hellip; You're still going to do what's best for your kid and whatever they're striving to be.&rdquo;</p>
                <p></p>
            </section>
        </article>
        

        <div class="credit" >
            <p>Aviva Okeson-Haberman and Kyra Haas created this project under the editorial supervision of Mark Hinojosa at the Missouri School of Journalism.</p>
            <p>Web design and development for this project is by Nathan Lawrence.</p>
        </div>
    </div>

    <div id="nav-scr" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <!-- Overlay content -->
        <div class="overlay-content">
            <a href="http://www.kbia.org">Return to KBIA</a>
        </div>

    </div>
    <script type="text/javascript" src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script>

    <script>

    </script>
    <script type='text/javascript' src='https://cdn.knightlab.com/libs/soundcite/latest/js/soundcite.min.js'></script>
</body>
</html>